.headerWrapper{
    align-items: center;
     border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
}

.NavWrapper ul {
    display: flex;
    gap: 20px;
    list-style: none;
}
  
.NavWrapper a {
    color: black;
    text-decoration: none;
  }

.NavWrapper a:hover {
    color: tomato;
    cursor: pointer;
    transition: 0.2s;
  }